<h3 class="first">Basic</h3>

<p-table [value]="populations">
    <ng-template pTemplate="header">
        <tr>
            <th>ProdcutID</th>
            <th>Name</th>
            <th>ProductNumber</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-population>
        <tr>
            <td>{{population.ProdcutID}}</td>
            <td>{{population.Name}}</td>
            <td>{{population.ProductNumber}}</td>
        </tr>
    </ng-template>
</p-table>